/*home page*/
.home-page {
  background-color: #ffffff; /* THAY màu nền nếu cần */
}

@font-face {
    font-family: "CSPixel";
    src: url("cssullivanpixel-ragular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
} 

body {
    font-family: "CSPixel", sans-serif;
}

.home-page .hero-section {
  position: relative;
  width: 100%;
  min-height: 85vh;
  padding: 2rem 2rem;
}

.home-page .hero-title-wrap {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0;
  min-height: 760px;
}

.home-page .title-pink {
  position: absolute;
  top: 85px;
  left: -40px;

  width: 700px; 
}

.home-page .title-green {
  position: absolute;
  top: 320px;
  right: -40px;

  width: 700px; 
}

.home-page .title-pink,
.home-page .title-green {
  transition: transform 0.35s ease;
}

.home-page .title-pink:hover,
.home-page .title-green:hover {
  transform: scale(1.03);
}

.home-page .note {
  position: absolute;
  font-size: 1.1rem; 
  line-height: 1.2;
  color: #000000;
  font-family: "CSPixel", sans-serif;
}

.home-page .note-1 {
  top: 255px;
  left: 60px;
}

.home-page .note-2 {
  top: 140px;
  left: 410px;
}

.home-page .note-3 {
  top: 360px;
  left: 370px;
}

.home-page .note-4 {
  top: 440px;
  left: 210px;
}

.home-page .note-5 {
  top: 300px;
  right: 220px;
}

.home-page .note-6 {
  top: 400px;
  right: 40px;
}

.home-page .note-7 {
  top: 600px;
  left: 750px;
  text-align: right;
}

.main-nav {
  position:absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 30px;
  align-items: center;
  z-index: 1000;
}
.main-nav a {
  text-decoration: none;
  position: relative;
  color: black;
  font-size: 1.5rem;
  font-style: normal;
  margin: auto;
  transition: all 0.3s ease;
  
}

.main-nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: #B8D145; 
  transition: width 0.3s ease;
}

.main-nav a:hover {
  color: #EB3B6D; 
  transform: translateY(-2px);
}

.main-nav a:hover::after {
  width: 100%;
}

.main-nav a.active {
  color: #EB3B6D;
}

.home-page .home-brain-section {
  width: 100%;
  min-height: 100vh;
  padding: 3.5rem 4rem 4rem;
}

.home-page .home-brain-layout {
  max-width: 2500px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
}

.home-page .brain-line {
  position: absolute;
  margin: 0;
  color: #000000;
  font-size: 1.02rem;
  line-height: 1.15;
  white-space: nowrap;
  font-style: normal;
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.home-page .brain-line.show {
  opacity: 1;
  transform: translateY(0);
}

.home-page .brain-image {
  width: 100%;
  max-width: 1500px;
  object-fit: cover;
  display: block;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background: #ffffff;
  padding: 2.8rem 4rem 1rem;
}

.brain-text {
  position: relative;
  width: 100%;
  max-width: 650px; 
  min-height: auto;
}

.brain-copy {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.deadlines-page {
  background: #ffffff;
  color: #111111;
}

.deadlines-page main {
  padding-top: 200px;
}

.deadlines-page .deadlines-top-note {
  margin-top: 0;
    font-size: 20px; 
  color: #eb3b6d;  
  font-style: normal;
}
.deadlines-hero-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.deadlines-page .deadlines-title-image {
  width: 100%;
  max-width: 900px; 
  transition: transform 0.35s ease;
}

.deadlines-page .deadlines-title-image:hover {
  transform: scale(1.025);
}

.deadlines-page .deadlines-bottom-note {
margin-top: -140px;
margin-left: -50px;
  font-size: 20px;
  color: #222222;
  font-style: normal;
  text-align: left;
  transform: translateX(190px); 
}

.deadlines-page .deadlines-text-section {
  width: 100%;
  min-height: 90vh;
  padding: 2rem 2rem 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}

.deadlines-page .deadlines-text-layout {
  width: 100%;
  max-width: 1800px;
  display: grid;
  grid-template-columns: 220px 1fr 220px;
  gap: 2rem;
  align-items: center;
  text-align: center;
  font-size: 25px;
}
.deadlines-page .deadlines-pattern-side-image-left, {
  display: flex;
  justify-content: left;
  align-items: left;
}

.deadlines-page .deadlines-pattern-side-image-left img {
  width: 180%;
  max-width: 700px; 
  display: block;
}
.deadlines-page .deadlines-pattern-side-image-right {
  display: flex;
  justify-content: right;
  align-items: right;
}

.deadlines-page .deadlines-pattern-side-image-right img {
  width: 180%;
  max-width: 700px; 
  display: block;
}

.deadlines-page .deadlines-line.deadlines-highlight {
    color: #eb3b6d;
}


.overthinking-page {
  background: #ffffff;
  color: #111111;
}

.overthinking-page main {
  padding-top: 200px;
}

.overthinking-page .overthinking-top-note {
  margin-top: 0;
    font-size: 20px; 
  color: #eb3b6d;  
  font-style: normal;
}
.overthinking-hero-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.overthinking-page .overthinking-title-image {
  width: 100%;
  max-width: 900px; 
  transition: transform 0.35s ease;
}

.overthinking-page .overthinking-title-image:hover {
  transform: scale(1.025);
}

.overthinking-page .overthinking-bottom-note {
margin-top: -140px;
margin-left: -500px;
  font-size: 20px;
  color: #000000;
  font-style: normal;
  text-align: right;
  transform: translateX(190px); 
}

.overthinking-page .overthinking-text-section {
  width: 100%;
  min-height: 90vh;
  padding: 2rem 2rem 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}

.overthinking-page .overthinking-text-layout {
  width: 100%;
  max-width: 1800px;
  display: grid;
  grid-template-columns: 220px 1fr 220px;
  gap: 2rem;
  align-items: center;
  text-align: center;
  font-size: 25px;
}
.overthinking-page .overthinking-pattern-side-image-left {
  display: flex;
  justify-content: left;
  align-items: left;
}

.overthinking-page .overthinking-pattern-side-image-left img {
  width: 180%;
  max-width: 700px; 
  display: block;
}
.overthinking-page .overthinking-pattern-side-image-right {
  display: flex;
  justify-content: right;
  align-items: right;
}

.overthinking-page .overthinking-pattern-side-image-right img {
  width: 180%;
  max-width: 700px; 
  display: block;
}

.overthinking-page .overthinking-line.overthinking-highlight {
    color: #eb3b6d;
}

.comparison-page {
  background: #ffffff;
  color: #111111;
}

.comparison-page main {
  padding-top: 200px;
}

.comparison-page .comparison-top-note {
  margin-top: 0;
    font-size: 20px; 
  color: #eb3b6d;  
  font-style: normal;
}
.comparison-hero-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.comparison-page .comparison-title-image {
  width: 100%;
  max-width: 900px; 
  transition: transform 0.35s ease;
}

.comparison-page .comparison-title-image:hover {
  transform: scale(1.025);
}

.comparison-page .comparison-bottom-note {
margin-top: -158px;
margin-left: -300px;
  font-size: 20px;
  color: #000000;
  font-style: normal;
  text-align: left;
  transform: translateX(190px); 
}

.comparison-page .comparison-text-section {
  width: 100%;
  min-height: 90vh;
  padding: 2rem 2rem 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}

.comparison-page .comparison-text-layout {
  width: 100%;
  max-width: 1800px;
  display: grid;
  grid-template-columns: 220px 1fr 220px;
  gap: 2rem;
  align-items: center;
  text-align: center;
  font-size: 25px;
}
.comparison-page .comparison-pattern-side-image-left {
  display: flex;
  justify-content: left;
  align-items: left;
}

.comparison-page .comparison-pattern-side-image-left img {
  width: 180%;
  max-width: 700px; 
  display: block;
}
.comparison-page .comparison-pattern-side-image-right {
  display: flex;
  justify-content: right;
  align-items: right;
}

.comparison-page .comparison-pattern-side-image-right img {
  width: 180%;
  max-width: 700px; 
  display: block;
}

.comparison-page .comparison-line.comparison-highlight {
    color: #eb3b6d;
}
.money-page {
  background: #ffffff;
  color: #111111;
}

.money-page main {
  padding-top: 200px;
}

.money-page .money-top-note {
  margin-top: 0;
    font-size: 20px; 
  color: #eb3b6d;  
  font-style: normal;
}
.money-hero-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.money-page .money-title-image {
  width: 100%;
  max-width: 900px; 
  transition: transform 0.35s ease;
}

.money-page .money-title-image:hover {
  transform: scale(1.025);
}

.money-page .money-bottom-note {
margin-top: -140px;
margin-left: -200px;
  font-size: 20px;
  color: #000000;
  font-style: normal;
  text-align: right;
  transform: translateX(190px); 
}

.money-page .money-text-section {
  width: 100%;
  min-height: 90vh;
  padding: 2rem 2rem 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}

.money-page .money-text-layout {
  width: 100%;
  max-width: 1800px;
  display: grid;
  grid-template-columns: 220px 1fr 220px;
  gap: 2rem;
  align-items: center;
  text-align: center;
  font-size: 25px;
}
.money-page .money-pattern-side-image-left {
  display: flex;
  justify-content: left;
  align-items: left;
}

.money-page .money-pattern-side-image-left img {
  width: 180%;
  max-width: 700px; 
  display: block;
}
.money-page .money-pattern-side-image-right {
  display: flex;
  justify-content: right;
  align-items: right;
}

.money-page .money-pattern-side-image-right img {
  width: 180%;
  max-width: 700px; 
  display: block;
}

.money-page .money-line.money-highlight {
    color: #eb3b6d;
}

.endnote-page {
  background: #ffffff;
  color: #111111;
}

.endnote-page main {
  padding-top: 200px;
}

.endnote-page .endnote-top-note {
  margin-top: 0;
    font-size: 20px; 
  color: #eb3b6d;  
  font-style: normal;
}
.endnote-hero-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.endnote-page .endnote-title-image {
  width: 100%;
  max-width: 900px; 
  transition: transform 0.35s ease;
}

.endnote-page .endnote-title-image:hover {
  transform: scale(1.025);
}

.endnote-page .endnote-bottom-note {
margin-top: -105px;
margin-left: -180px;
  font-size: 20px;
  color: #000000;
  font-style: normal;
  text-align: left;
  transform: translateX(190px); 
}

.endnote-page .endnote-text-section {
  width: 100%;
  min-height: 90vh;
  padding: 2rem 2rem 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 120px;
}

.endnote-page .endnote-text-layout {
  width: 100%;
  max-width: 1800px;
  display: grid;
  grid-template-columns: 220px 1fr 220px;
  gap: 2rem;
  align-items: center;
  text-align: center;
  font-size: 25px;
}
.endnote-page .endnote-pattern-side-image-left {
  display: flex;
  justify-content: left;
  align-items: left;
}

.endnote-page .endnote-pattern-side-image-left img {
  width: 180%;
  max-width: 700px; 
  display: block;
}
.endnote-page .endnote-pattern-side-image-right {
  display: flex;
  justify-content: right;
  align-items: right;
}

.endnote-page .endnote-pattern-side-image-right img {
  width: 180%;
  max-width: 700px; 
  display: block;
}

.endnote-page .endnote-line.endnote-highlight {
    color: #eb3b6d;
}